# ================== #
#  Global Settings   #
# ================== #

# 민감 정보 파일
# .env 파일은 어떤 경우에도 Git에 포함시키지 않습니다.
.env

# Docker 데이터 볼륨
# DB 데이터는 각자의 컴퓨터에만 저장하고 공유하지 않습니다.
/data/

# IDE 및 시스템 파일
# 모든 하위 폴더에 있는 .idea 폴더와 .DS_Store 파일을 무시합니다.
**/.idea/
**/.DS_Store
**/*.iml

# 로그 파일
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 최상위에 잘못 생성될 수 있는 npm 잠금 파일
/package-lock.json

